@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root{
  --white: #ffffff;
  --black: #2E2E2E;
  --blue: #3E67EE;
  --orange: #FBB150;

  --Poppins: 'Poppins', sans-serif;
  --Raleway: 'Raleway', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--Poppins);
}

html{
  overflow-x: hidden;
}

.header{
  background-color: var(--white);
  height: 5rem;
  width: 100vw;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0rem 0rem .5rem .5rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header .logo{
  height: 2rem;
}

.header .arrowBack{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.noDisplay{
  display: none;
}

#navBottom{
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 10%);
  border-radius: .5rem .5rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: var(--white);
  z-index: 10;
}

#navBottom a{
  height: 35px;
}

#navBottom .navsvg{
  height: 35px;
}

#navBottom *{
  margin: 0 auto;
}

#main{
  margin-top: 5rem;
  width: 88vw;
  padding: 0 6vw;
}

#main h1{
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 6rem;
}


#main h2{
  font-weight: 600;
  font-size: 1.3rem;
}

#main p{
  font-size: .9rem;
}

#banner{
  background-image: url(./Images/heroHome.jpg);
  background-position: center !important;
  background-size: cover !important;
  height: 200px;
  margin: -1.5rem -6vw 0rem -6vw;
  padding-right: 20vw;
  color: var(--white);
}

#banner-overlay{
  height: 100%;
  width: calc(100vw - 12vw);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 6vw;
  background-color: rgba(0, 0, 0, .2);
}

#banner-overlay h1{
  margin-top: 0rem;
  font-size: 23px;
  text-shadow: 0px 5px 5px rgb(35, 35, 35);
}

#banner-overlay button{
  font-size: 15px;
  margin-top: 5px;
  background-color: var(--blue);
  color: var(--white);
  width: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 2.5px 0;
  border: none;
}

#homeHelperText{
  margin-top: 1.5rem;
}

#homeHelperText span{
  color: var(--blue);
}

#search-field{
  display: flex;
  flex-flow: column;
  margin-bottom: 1.3rem;
}

#search-field #search-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
}

#search-input input{
  height: 2.2rem;
  box-shadow: .2rem .1rem .2rem rgba(0, 0, 0, .15);
  border-radius: .5rem;
  border: none;
  width: 80%;
  padding: 0rem .5rem;
  font-size: 1rem;
}

#search-input button{
  border-radius: .5rem;
  background-color: var(--blue);
  border: none;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: .2rem .1rem .2rem rgba(0, 0, 0, .15);
}

#search-input button #search-svg{
  height: 1.2rem;
}

#search-field #search-filter{
  margin-top: .75rem;
  display: flex;
}

#search-field #search-filter button{
  background-color: var(--blue);
  border: none;
  color: var(--white);
  padding: .25rem 1rem;
  border-radius: .75rem;
  font-size: 1rem;
}

#helperButtonWrapper{
  width: 88vw;
  position: fixed;
  bottom: 75px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}

.helperButton{
  background-color: var(--blue);
  color: var(--white);
  margin: 0 auto;
  padding: 5px 0;
  width: 150px;
  text-align: center;
  border-radius: 5px;
}

.helperButtonArrow{
padding: 0;
margin-bottom: -7.5px !important;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}

#activeQuestion{
  color: var(--blue);
}

.questionHighlight{
  color: var(--orange);
}


.questionTitle{
  margin-top: 15px;
  margin-bottom: 25px;
}

#question1Wrapper{
display: grid;
grid-template-columns: auto auto;
justify-content:space-between;
align-items: center;

}

#question1Wrapper input{
  width: 130px;
  padding: 5px 0px 5px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px 2px rgba(35, 35, 35,20%);
}

.currency-wrap{
  position:relative;
}

.currency-code{
  position:absolute;
  left:5px;
  top:4px;
}

.orderList{
  width: 90%;
  margin: 0 auto;
}

.listItemWrapper{
  border: none;
  box-shadow: 0px 2px 2px 2px rgba(35, 35, 35,20%);
  border-radius: 5px;
  background: #fff;
  margin: 20px 0;
  padding: 10px 15px 10px 0px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content:space-between;
  align-items: center;
}

.listItemWrapper p{
  margin-left: 15px;
}

.container {
  display: block;
  position: relative;
  text-align: end;
  padding: 5px 15px 5px 35px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 2px 2px 2px rgba(35, 35, 35,20%);
  border-radius: 5px;
}

.container #detail{
    font-size: 12.5px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxBgc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: var(--orange);
  border-radius: 50%;
}

.container input:checked ~ .checkboxBgc{
    background-color: var(--blue);
    z-index: -1;
}

.container input:checked ~ p{
  color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.containerFeatures {
  width: fit-content;
  display: block;
  position: relative;
  text-align: end;
  padding: 5px 15px 5px 35px;
  margin: 10px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 2px 2px 2px rgba(35, 35, 35,20%);
  border-radius: 5px;
}


.containerFeatures #detail{
    font-size: 12.5px;
}

.containerFeatures input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerFeatures:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerFeatures input:checked ~ .checkmark {
  background-color: var(--orange);
  border-radius: 50%;
}

.containerFeatures input:checked ~ .checkboxBgc{
    background-color: var(--blue);
    z-index: -1;
}

.containerFeatures input:checked ~ p{
  color: #fff;
}


.containerFeatures input:checked ~ .checkmark:after {
  display: block;
}

.containerFeatures .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#question5Wrapper{
    display: grid;
    grid-template-columns: repeat( 2, minmax(125px, 1fr) );
    justify-content: space-between ;
    row-gap: 30px;
    
}

.optionCard{
    margin: 0 auto;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 3px rgba(35, 35, 35,20%);
    text-align: center;
}

.optionCardImg{
    width: 100px;
    height: 100px;
    padding: 12.5px;
    border-bottom: 1px solid #1E1E1E;
}

#question5Wrapper .optionCardImg{
  width: 75px;
  height: 75px;
}

.optionCard img{
  width: 100px;
  height: auto !important;
  border-bottom: 1px solid #1E1E1E;
}

.optionCard h2{
    border-radius: 0px 0px 5px 5px;
    margin-top: -7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.optionCardActive{
    background-color: var(--blue);
    color: var(--white);
}

#question7Select{
    display: flex;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    color: var(--blue) !important;
}

#idk{
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 5px;
}

#question8Wrapper{
    display: flex;
    flex-wrap: wrap;
}

#question9Wrapper{
  display: grid;
  grid-template-columns: repeat( 2, minmax(150px, 1fr) );
  row-gap: 25px;
  margin-bottom: 9rem;
}

#idkImg{
    padding: 22.5px 0;
    height: 80px !important;
}

#question10Wrapper{
  display: grid;
  grid-template-columns: repeat( 2, minmax(150px, 1fr) );
  row-gap: 25px;
  padding-bottom: 150px;
}


.optionCard #mercedes{
    font-size: 14px;
    padding-top: 10.5px !important;
    padding-bottom: 10px !important;
}

#smallertext{
  font-size: 17px !important;
}

.filters-wrapper{
  margin-bottom: 1.3rem;
}

#filters{
  display: flex;
  overflow-x: scroll;
  height: 2.5rem;
  scrollbar-width: none;
  position: relative;
}

#filters::-webkit-scrollbar{
  display: none;
}

.filter{
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .2rem .5rem;
  margin: 0rem 1rem 0rem 0rem;
  cursor: default;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .1);
  height: max-content;
  background-color: var(--white);
}

.filter .filter-name{
  color: var(--blue);
  font-weight: 500;
  white-space: nowrap;
}

.filter .filter-remove{
  margin-left: .5rem;
  color: var(--orange);
}

.change-filters{
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .25rem .7rem;
  margin: 0rem 1rem 0rem 0rem;
  cursor: default;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .1);
  width: max-content;
  background-color: var(--blue);
  color: var(--white);
}

.results-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.result-card {
  width: 100%;
  background-color: var(--white);
  box-shadow: .3rem .3rem .7rem rgba(0, 0, 0, .07);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.result-card:last-of-type{
  margin-bottom: 6rem;
}

.result-card img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  margin: 0;
  border-radius: .5rem .5rem 0rem 0rem;
}

.inner-result{
  padding: .5rem .5rem;
}

.inner-top{
  display: flex;
  justify-content: space-between;
}

.inner-top .result-name{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: -.8rem;
}

.inner-top .result-build{
  font-size: 1rem;
  font-weight: 600;
  opacity: .3;
  margin-top: -.5rem;
}

.inner-top img{
  height: 2.5rem;
  width: 2.5rem;
  margin-top: -.4rem;
}

.inner-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.inner-bottom div{
  font-weight: 600;   
  margin-top: -.3rem;
}

.bottom-right{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.inner-bottom span{
  font-weight: 500;
  font-size: .8rem;
  margin-top: -.1rem;
}

.inner-bottom a{
  color: var(--blue);
  margin-top: -.3rem;
  font-size: .9rem;
}

.compare-button{
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  text-align: center;
  padding: .5rem 0rem;
  border-radius: .75rem;
  font-weight: 500;
  margin-top: .5rem;
  margin-bottom: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.inner-result a:last-of-type{
  text-decoration: none;
}

.compare-button svg{
  margin-left: .5rem;
}

.FaStar{
  color: var(--orange);
}

.offers-wrapper{
  display: flex;
  flex-flow: column;
  margin-top: .5rem;
}

.offer-card {
  width: 100%;
  background-color: var(--white);
  box-shadow: .3rem .3rem .7rem rgba(0, 0, 0, .07);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.offer-card:last-of-type{
  margin-bottom: 6rem;
}

.offer-card img:last-of-type{
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  margin: 0;
  border-radius: .5rem .5rem 0rem 0rem;
}

.offer-card .verify{
  position: absolute;
  right: 0;
  margin: .4rem calc(6vw + .5rem) 0rem 0rem;
}

.verify-info{
  background-color: var(--white);
  position: absolute;
  padding: .2rem .7rem;
  right: 0;
  margin: 3rem calc(6vw + .5rem) 0rem 0rem;
}

.inner-offer{
  padding: .5rem .6rem;
}

.offer-price{
  background-color: var(--blue);
  color: var(--white);
  height: max-content;
  padding: .2rem .8rem;
  font-weight: 600;
  border-radius: .25rem;
  font-size: 1.15rem;
  margin-top: -2.2rem;
  position: absolute;
  right: 0;
  margin-right: calc(5vw + .6rem);
}

.offer-card .inner-bottom div{
  font-weight: 400;
  font-size: .8rem;
}

.offer-card .inner-bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.inner-bottom .inner-bottom-right{
  text-align: right;
}

.interesting-offers{
  height: 10rem;
}

.no-show{
  display: none;
}

.sk-chase {
  width: 60px;
  height: 60px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin-top: 12rem;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--blue);
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

#reviewBanner{
  height: 200px;
  width: 100vw;
  margin-left: -6vw;
  object-fit: cover;
  object-position: center;
}

#reviewDetails{
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-end;
  margin-top: 20px;
}

#reviewDetails span{
  text-align: end;
  font-weight: 500;
  font-size: 18px;
}


#reviewDetails .FaStar{
  vertical-align:text-top;
  font-size: 20px !important;

}
#reviewDetails p{
  color: #7d7d7d;
  font-size: 15px;
  font-weight: 500;
  margin-top: -5px;
  
}

#reviews{
  margin-top: 25px;
  padding-bottom: 50px !important;
}

#reviews .title{
  margin-bottom: 15px;
}

.reviewCard{
  width: 83.5vw;
  box-shadow: 0 0 10px 1px rgba(35, 35, 35,0.15);
  padding: 10px 10px 25px 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}


.reviewCard .reviewCardUser{
  display: flex;
  margin-bottom: 5px;
}

.reviewCard .reviewCardUser img{
height: 35px;
border-radius: 50%;
}

.reviewCard .reviewCardUser h3{
  margin-top: 3px;
  margin-left: 10px;
  }

.reviewCard p{
  margin-top: 5px;
}
.reviewRating{
  margin-top: 15px;
  display: grid;
grid-template-columns: 50% auto;
width: 100%;
}

.reviewRating h3{
font-size: 15px !important;
font-weight: 600;
}

.caroussel-wrapper{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  height: max-content;
  width: calc(100% + 5.99vw);
  margin-top: .5rem;
}

.caroussel-wrapper::-webkit-scrollbar{
  display: none;
}

.home-caroussel{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.home-caroussel:last-of-type{
  margin-bottom: 6rem;
}

.home-caroussel h2{
  font-size: 1.2rem !important;
}

.home-caroussel h2 span{
  color: var(--blue);
}

.caroussel-item{
  height: 10rem;
  width: 13rem !important;
  background-color: var(--white);
  box-shadow: .2rem .1rem .5rem rgba(0, 0, 0, .1);
  display: flex;
  flex-flow: column;
  border-radius: .5rem;
  margin: 0rem 1rem 1rem 0rem;
}

.classification{
  background-color: var(--orange);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--white);
  position: absolute;
  margin-top: .25rem;
  margin-left: 10.7rem;
  font-size: .8rem;
}

.caroussel-item img{
  height: 7rem;
  width: 13rem;
  object-fit: cover;
  object-position: center;
  border-radius: .5rem .5rem 0rem 0rem;
}

.item-wrapper{
  padding: .25rem .5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.item-wrapper p{
  font-weight: 600;
  margin-top: -.25rem;
  font-size: 1rem !important;
}

.item-wrapper p:last-of-type{
  opacity: .4;
}