
.grocery-item{
    display: grid;
    grid-template-columns: 10% 20% 65% 5%;
    width: 80vw;
    padding: 15px 0;
}

.grocery-item img{
    width: 100%;
    margin: auto 0;
}
h2{
    position: relative;   
}

.grocery-item h1{
    margin: auto 0;
    padding-left: 5%;
    font-size: 25px;
}

.grocery-item h2{
    margin: 15px auto 0 auto;
}

.routeItemWrapper:nth-child(odd){
    background-color: #E9DFFE;
}